#add-task2{
    font-size: 20px;
    color: white;
    display: block;
    position: absolute;
    padding: 0;
    margin-bottom: 30px;
    top: 0px;
    left: 0;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.767); */
    /* width: 100%; */
    /* height: 100%; */
}

.formdata{  
    position: fixed;
    left: 27%; 
    top: 18%;
}

.formTitle{
    position: fixed;
    top: 3%;
    font-size: 50px;
    text-align: center;
    
}

.formdata label{  

    display: block;
    font-size: 20px;

}
.formdata input{ 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300%;
} 

/* #textbox{ 
    display: inline-block;
} */
.textbox{ 
    position: fixed;
    left: 57%;
    top: 120px;
}

.btn{ 
    position: fixed;
    top: 120px;
    left: 69%;

}
