li{  
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 10px;

}

.fa-check{ 
    float:right;
    position: relative;
    right: 80px
}
.fa-times{ 
    float:right;
}

.fa-times:active{
    color: rgb(189, 35, 35);
}

.fa-check:active{
    color: rgb(61, 189, 35);
}

.checked{
    color: rgb(61, 189, 35);
}
    

